.circle-animation {
    animation: circleLoad 2s ease-in-out forwards;
    background-color: slategray;
}

@keyframes circleLoad {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.anchorAuto{
    overflow-anchor: auto;
}




